<component name="ArtifactManager">
  <artifact type="war" name="SpringMvcException:war">
    <output-path>$PROJECT_DIR$/SpringMvcException/target</output-path>
    <root id="archive" name="SpringMvcException.war">
      <element id="artifact" artifact-name="SpringMvcException:war exploded" />
    </root>
  </artifact>
</component>