<component name="ArtifactManager">
  <artifact type="war" name="SpringMvcResponse:war">
    <output-path>$PROJECT_DIR$/SpringMvcResponse/target</output-path>
    <root id="archive" name="SpringMvcResponse.war">
      <element id="artifact" artifact-name="SpringMvcResponse:war exploded" />
    </root>
  </artifact>
</component>